<h2>Введите название препарата</h2>
<form method="post">
    <label>Название:</label><br />
    <input type="text" name="nazvan" /><br />
    <input type="submit" value="Send" />
</form>
<h2>@ViewBag.Nazvan</h2>