@{
    ViewData["Title"] = "ПоискИнструкции";
}

<div class="container">
    <div class="search-container">
        <h2>Введите название препарата</h2>
        <form method="post">
            <div class="form-group">
                <label for="inputTitle">Название:</label>
                <input type="text" name="name" id="inputTitle" class="form-control" />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </form>
    </div>
</div>

<style>
    .search-container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .results-card {
        width: 1000%;
        text-align: justify;
        max-width: 1200px;
        margin: 2rem auto;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 50px; /* Расстояние от верхней границы кнопки до верхней границы новой карточки */
    }

        .results-card .card-body {
            padding: 2rem;
        }
</style>

