<h2>Введите название препарата</h2>
<form method="post">
    <label>Название:</label><br />
    <input type="text" name="name" /><br />
    <input type="submit" value="Send" />
</form>
@Html.Raw(@ViewBag.Name)